body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Buong code sa navbar, mula dito*/

.profile-icon {
    width: 2vw;
    height: 2vw;
    margin-left: 10px;
    margin-right: 5px;
}

.cart-icon {
    width: 2vw;
    height: 2vw;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #333;
    color: #fff;
    padding-top: 1%;
    padding-bottom: 1%;
    user-select: none;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    max-width: 100%;
    margin: 0 auto;
}

.logo {
    font-size: 1.5rem;
    
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin-right: 15px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    margin-left: 15px;
    margin-right: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 1.1vw;
    text-decoration: none;
    font-family: sans-serif;
    transition: color 0.3s ease
}

.nav-links a:hover {
    color: #858383;
}

login :hover {
    color: #36917c;
}

/* Hanggang dito (navbar) */


/* eto code sa unang page ung may technology parts for everyone hanggang shop now */
.content {
    display: flex;
    align-items: flex-start;
}

.title-container {
    font-family: 'Albert Sans', sans-serif;
    width: 50%;
    margin-top: 15%;
    margin-left: 10%;
    color: #333;
    user-select: none;
}

.title-container p{
    margin-top: 12%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 20%;
    font-size: 1.3vw;
    text-align: justify;
}

.title-container h1{
    font-weight: normal;
    font-size: 3.2vw;
    text-align: center;
}

.title-container u{
    font-size: 2.5vw;
    margin-top: 10%;
    margin-right: 10%;
    display: inline-block;
    margin-left: 4%;
}

.title-container a{
    text-decoration: none;
    color: inherit;
}

.content img {
    user-select: none;
    max-width: 45%;
    height: auto;
    margin-right: 10%;
    margin-top: 10%;
}

.shop-button {
    
    background-color: #3ec2a7;
    color: #fff;
    border: 2px solid #3ec2a7;
    padding: 2% 5%;
    font-size: 1.1vw;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 4%;
    margin-left: 42%;
    margin-bottom: 2%;
}

.shop-button:hover {
    background-color: white;
    color: #3ec2a7;
    border-color: #3ec2a7;
}

/* second content */

.second-content {
    display: flex;
    margin-top: 50px;
    background-color: #ededed;
}

.invention-image {
    user-select: none;
    max-width: 57%;
    height: auto;
    margin-right: 5%;   
}

.how-to-build {
    font-family: 'Albert Sans', sans-serif;
    width: 60%;
    user-select: none;
    margin-right: 10%;
    margin-top: 10%;
}

.how-to-build h2 {
    font-weight: normal;
    font-size: 3.2vw;
    color: #333;
}

.how-to-build p {
    font-size: 1.2vw;
    line-height: 2;
    color: #666;
    margin-right: 20%;
}

.color {
    color: #3ec2a7;
    font-size: 1.8vw;
    margin-right: 2%;
}

/*third content */

.icon-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 20px;
    margin-top: 10%;
    margin-bottom: 10%;
}

.icon {
    text-align: center;
    font-family: 'Albert Sans', sans-serif;
    color: #333;
}

.icon img {
    max-width: 100px;
    height: auto;
}

.icon p {
    margin-top: 10px;
    font-size: 1.2vw;
    margin-left: 20%;
    margin-right: 20%;
}

.icon h1 {
    font-weight: normal;
    font-size: 1.4vw;
}

/* fourth content */

.background-image {
    position: relative;
}

.background-image img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Albert Sans', sans-serif;
    font-size: 4vw;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

/* fifth content */

.fifth-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.fifth-content img {
    width: 40%;
    height: auto;
    margin-bottom: 8%;
}

.text {
    margin-bottom: 10px;
}

.wide {
    text-align: center;
    font-family: 'Albert Sans', sans-serif;
    color: #333;
    font-weight: normal;
    font-size: 3.5vw;
    margin-top: 10%;
    margin-bottom: 8%;
}

.long-dash {
    border-bottom: 1px solid #333;
    width: 100px;
    display: inline-block;
    margin-bottom: 3%;
}

.left-column {
    margin-left: 10%;
    margin-top: 20%;
}

.right-column {
    margin-right: 10%;
    margin-top: 10%;
}

.text {
    font-family: 'Albert Sans', sans-serif;
    color: #333;
    font-size: 1.2vw;
}

#text1 {
    margin-bottom: 80%;
}

#text3 {
    margin-bottom: 60%;
    text-align: center;
}

.space {
    padding-left: 50%;
}

#long-dash-left{
    margin-left: 20px;
}

#long-dash-right{
    margin-right: 20px;
}

/* 6th content */

.sixth-content img{
        width: 100%;
        height: auto;
        display: block;
}

.sixth-content{
    position: relative;
}

.sixth-text{
    position: absolute;
    top: 12%;
    left: 15%;
    margin-right: 50%;
}

.sixth-text h1{
    font-family: 'Albert Sans', sans-serif;
    color: #333;
    font-size: 3.5vw;
    font-weight: normal;
}

.sixth-text p{
    font-family: 'Albert Sans', sans-serif;
    color: #333;
    font-size: 1.3vw;
    font-weight: normal;
}

.shop-button1 {
background-color: #3ec2a7;
color: #fff;
border: 2px solid #3ec2a7;
padding: 2% 5%;
font-size: 1.1vw;
cursor: pointer;
transition: background-color 0.5s;
margin-top: 4%;
margin-right: 30%;
margin-bottom: 2%;
}

.shop-button1:hover {
background-color: white;
color: #3ec2a7;
border-color: #3ec2a7;
}

/* last content */

.last-content {
    background-color: #ededed;
    display: flex;
    padding-top: 7%;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 10%;

}

.underlined-text {
    width: 30%;
}

.ultxtlinks {
    list-style-type: none;
    
}

.ultxtlinks a{
    font-family: 'Albert Sans', sans-serif;
    color: #333;
    font-size: 1.4vw;
    font-weight: normal;
    line-height: 2;
}

.about-us{
    font-family: 'Albert Sans', sans-serif;
    color: #333;
    width: 30%;
    margin-right: 5%;
    font-weight: 300;
}

.about-us h1{
    font-size: 1.4vw;
    font-weight: normal;
}

.about-us p{
    font-size: 1.3vw;
}

.new-releases{
    font-family: 'Albert Sans', sans-serif;
    color: #333;
    width: 30%;
    font-weight: 300;
}

.new-releases h1{
    font-size: 1.4vw;
    font-weight: normal;
}

.new-releases p{
    font-size: 1.3vw;
}

.input-container {
    position: relative;
    width: 300px;
    margin-bottom: 5%;
  }

  .input-container input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  .input-container label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #999;
  }

  .Subscribe {
    background-color: #3ec2a7;
    color: #fff;
    border: 2px solid #3ec2a7;
    padding: 3% 30%;
    font-size: 1.1vw;
    cursor: pointer;
    transition: background-color 0.5s;
    margin-top: 2%;
    margin-bottom: 2%;
    }
    
    .Subscribe:hover {
    background-color: white;
    color: #3ec2a7;
    border-color: #3ec2a7;
    }